/*
 * Inspired by http://bettermotherfuckingwebsite.com
 */

body {
    color: #444;
    font-size: 18px;
    line-height: 1.6;
    margin: 40px auto;
    max-width: 650px;
    padding: 0 10px;
}

h1, h2, h3 {
    font-family: sans-serif;
    line-height: 1.2;
}

del {
    color: #C40;
}

img {
    max-width: 100%;
}